* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #f5efe7;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-app {
  /* kotak */
  width: 400px; 
  height: 200px; 
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3e5879;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 img {
  width: 30px; 
  height: 30px;
  margin-left: 10px; 
}

.row {
  display: flex;
  margin-bottom: 20px;
  width: 100%; 
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  height: 40px; 
  box-sizing: border-box;
  overflow: hidden; 
  white-space: nowrap; 
}

button {
  padding: 10px 20px;
  background: #3e5879;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px; 
}

button:hover {
  background: #2d4260;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px; 
  height: 350px; 
  overflow-y: auto; 
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li .delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  cursor: pointer;
}

ul li .delete-btn:hover {
  background: #e63636;
}

ul li .delete-btn:active {
  background: #cc2d2d;
}
